<div style="display: flex; justify-content: center;">
  <form action="" [formGroup]="form">
    <input style="    width: 300px;
    height: 30px;" type="text" formControlName="searchInput">
  </form>
</div>
<div id="main-container">
  <div id="item" *ngFor="let item of onSinglePageRecord">

      <span>{{item.userId}}</span>
      <span>{{item.id}}</span>
      <span>{{item.title}}</span>
      <span>{{item.body}}</span>
  </div>
</div>
<button (click)="previous()" [disabled]="pageCount==1">Previous</button>
<button (click)="next()" [disabled]="pageCount==totalPage">Next</button>